---
const { white, multiplier = 0.9, class: classList } = Astro.props
const sizes = [216, 396, 576, 756]
const borderWidths = [20, 30, 40, 50]
---

<div id="circles" class:list={['pointer-events-none inset-0 overflow-hidden', classList]}>
  <div class="mx-auto opacity-10 lg:opacity-80">
    {
      (
        <div
          class:list={[
            'absolute -translate-x-1/2 -translate-y-1/2 rounded-full',
            white ? 'border-paper' : 'border-coral',
          ]}
        >
          <svg
            class="fill-coral"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="240"
            height="240"
            fill="currentColor"
          >
            <path d="M10 10.1111V1L21 7V21H3V7L10 10.1111Z" />
          </svg>
        </div>
      )
    }
  </div>
</div>
