---
import { Image } from 'astro:assets'
import Button from '../components/Button.astro'
import Description from '../components/Description.astro'
import Title from '../components/Title.astro'
import Hero from '../components/hero-one.astro'
import Layout from '../layouts/Layout.astro'


import { ArrowRight } from 'lucide-astro'
import image01 from '/public/gambar-spt/gambar01.jpg'
import image02 from '/public/gambar-spt/gambar02.jpg'
import image03 from '/public/gambar-spt/gambar03.jpg'
import image11 from '/public/gambar-spt/image11.jpg'
import image12 from '/public/gambar-spt/image12.jpg'
import image13 from '/public/gambar-spt/image13.jpg'
import image08 from '/public/gambar-spt/image08.png'
import image09 from '/public/gambar-spt/image09.png'
import image10 from '/public/gambar-spt/image10.png'

const layanan = [
  {
    title: 'SPT Tahunan PPh Badan',
    deskripsi:
      'Kami bantu Anda menyelesaikan kewajiban pajak tahunan perusahaan secara tepat dan efisien. Tim kami menghitung, menyusun, dan melaporkan SPT Tahunan PPh Badan sesuai peraturan terbaru.',
    fitur: [
      'Memastikan perhitungan pajak yang akurat',
      'Bantuan rekonsiliasi fiskal',
      'Menghindari keterlambatan pelaporan pajak',
      'Solusi atas kendala pengisian SPT',
    ],
    gambar: [image01, image02, image03],
  },
  {
    title: 'Konsultasi Perpajakan',
    deskripsi:
      'Tim ahli kami siap memberikan solusi untuk setiap masalah perpajakan perusahaan Anda. Dapatkan panduan dan strategi perpajakan yang legal dan efisien.',
    fitur: [
      'Strategi perpajakan yang efisien',
      'Pendampingan saat pemeriksaan pajak',
      'Pemahaman dampak peraturan pajak terbaru',
      'Solusi masalah atau sengketa perpajakan',
    ],
    gambar: [image11, image12, image13],
  },
  {
    title: 'Newsletter Pajak',
    deskripsi:
      'informasi terbaru seputar peraturan pajak, deadline penting, dan tips praktis untuk membantu Anda tetap patuh dan optimal dalam memenuhi kewajiban pajak.',
    fitur: [
    'Update peraturan pajak terbaru dan dampaknya bagi wajib pajak',
'Deadline penting terkait pelaporan dan pembayaran pajak',
'Tips praktis kepatuhan pajak dan optimalisasi ',
    ],
    gambar: [image08, image09, image10],
  },
]
---

<main id="features"
    class="relative flex min-h-screen flex-col items-center justify-center py-24"
  >
    {
      layanan.map((item) => (
        <section
          id="customization"
          class="relative flex w-full flex-col gap-16 overflow-y-hidden px-4 py-30 pt-24 lg:flex-row lg:px-12 xl:px-24"
        >
          <div>
            <Title>{item.title}</Title>
            <Description class="lg:w-2/3 lg:px-0">{item.deskripsi}</Description>
            <div class="mt-4 flex">
              <Button isPrimary href="/mods">
                Pelajari
                <ArrowRight className="size-4" />
              </Button>
            </div>
          </div>
          <div
            class="relative ml-16 flex h-32 lg:mx-0 lg:w-1/2"
            id="browser-images"
          >
            {item.gambar.map((img, index) => (
              <Image
                src={img}
                alt={`Less Summer - ${item.title}`}
                class={`border-3 absolute w-2/3 rounded-md border-neutral-400 shadow-md ${
                  index === 0
                    ? 'left-[65%] top-[5%] -translate-x-1/2'
                    : index === 1
                      ? 'left-1/2 top-1/2 -translate-x-1/2 transform'
                      : 'left-[10%] top-[15%] z-10 -translate-x-1/2'
                }`}
              />
            ))}
          </div>
        </section>
      ))
    }
  </main>